



header {
    background-image: url(img/pattern.png);
    height: 100px;
    background-size: 30%;
    background-color: rgb(0, 162, 255);
}

.container
{

}

.logo {
    height: 50px;
    margin-top: 40px;
}

.author {
    font-size: 18px;
}

.date {
    font-size: 12px;
    color: gray;
}

.caption {
    font-size: 12px;
}

.content .highlight{
    background-color: yellow;
}

.content table {
    text-align: left;
    border-spacing: 0;
}

.content table thead {
    color: white;
    background-color: #20a9e5;
}

.content table .odd {
background-color: #b1e5f2;
}

.content table th.text {
    width: 50%;
}   

footer h4 {
    color: gray;
}

.image {
    width: 200px;
    height: 160px;
    margin: 10px 0px;
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

.image h3 {
    margin: 0px;
}
h3 {
    color: white;
}
#image-monitor {
    background-image: url(img/monitor.jpg);
}

#image-graph {
    background-image: url(img/graph.jpg);
}